@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-project1 {
  background-image: url("./Assets/spotify_react.png");
  height: 150px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-project2 {
   background-image: url("./Assets/Spotify\ js\(168\).png");
   height: 150px;
   width: 300px;
   background-size: cover;
   background-repeat: no-repeat;
 }

 .custom-project3 {
   background-image: url("./Assets/firefox.png");
   height: 150px;
   width: 300px;
   background-size: cover;
   background-repeat: no-repeat;
 }

 .custom-project4 {
   background-image: url("./Assets/netflix.png");
   height: 150px;
   width: 300px;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .custom-project5 {
   background-image: url("./Assets/solarsystem.png");
   height: 150px;
   width: 300px;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .custom-project6 {
  background-image: url("./Assets/stopwatch.png");
  height: 150px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
 

/* .content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8) hsla(242, 74%, 61%, 0.8)
  );
} */
